In [15]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [2]:
def csv(file):
    dat_ = pd.read_csv(file + '.csv', encoding = 'cp949')
    return dat_
    
def ex(file):
    dat_ = pd.read_excel(file + '.xlsx', header = 1)
    return dat_

path = 'data/'

# 연도별 일별 시간대별 역별 승하차 인원

In [3]:

# dat15 = csv(path + '서울교통공사 2015년 일별 역별 시간대별 승하차인원(1_8호선)')
# dat16 = csv(path + '서울교통공사 2016년 일별 역별 시간대별 승하차인원(1_8호선)')

# dat17 = ex(path + '서울교통공사 2017년 일별 역별 시간대별 승하차인원(1_8호선)')
# dat18 = ex(path + '서울교통공사 2018년 일별 역별 시간대별 승하차인원(1_8호선)')
# dat19 = ex(path + '서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선)')

# dat20 = csv(path + '서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선)')
dat21 = csv(path + '서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선)')
dat22 = csv(path + '서울교통공사_역별 일별 시간대별 승하차인원 정보_20220531')

In [4]:
dat21.columns
dat22.columns

Index(['연번', '날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시 이후', '합 계'],
      dtype='object')

Index(['연번', '날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시 이후'],
      dtype='object')

In [5]:
idx7 = sorted(list(np.where(dat21['날짜']=='2021-07-01')[0]))[0]
data = pd.concat([dat21.iloc[idx7:,:-1],dat22], axis=0, ignore_index=True)
data.head()

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후
0,101093,2021-07-01,1,150,서울역,승차,358,440,1527,2409,...,1815,2175,2754,4505,7455,3249,2007,2225,1797,498
1,101094,2021-07-01,1,150,서울역,하차,248,1447,3589,8016,...,1498,1680,1897,2111,2692,1515,994,911,887,287
2,101095,2021-07-01,1,151,시청,승차,83,114,247,305,...,881,1177,1355,2808,5763,1983,1676,1642,1313,200
3,101096,2021-07-01,1,151,시청,하차,198,864,2697,7690,...,677,570,517,612,712,284,162,145,139,53
4,101097,2021-07-01,1,152,종각,승차,91,109,229,315,...,1517,1819,2207,4679,8382,3279,2825,3422,2870,418

## 나중에 column 명에서 문제 생기므로 사전에 바꾸기

In [6]:
data.rename(columns = {'06시 이전':'06시이전', '23시 이후':'23시이후'})

,연번,날짜,호선,역번호,역명,구분,06시이전,06시-07시,07시-08시,08시-09시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
0,101093,2021-07-01,1,150,서울역,승차,358,440,1527,2409,...,1815,2175,2754,4505,7455,3249,2007,2225,1797,498
1,101094,2021-07-01,1,150,서울역,하차,248,1447,3589,8016,...,1498,1680,1897,2111,2692,1515,994,911,887,287
2,101095,2021-07-01,1,151,시청,승차,83,114,247,305,...,881,1177,1355,2808,5763,1983,1676,1642,1313,200
3,101096,2021-07-01,1,151,시청,하차,198,864,2697,7690,...,677,570,517,612,712,284,162,145,139,53
4,101097,2021-07-01,1,152,종각,승차,91,109,229,315,...,1517,1819,2207,4679,8382,3279,2825,3422,2870,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185623,82342,2022-05-31,8,2826,수진,하차,27,82,154,452,...,242,297,388,427,590,469,347,254,226,256
185624,82343,2022-05-31,8,2827,모란,승차,83,131,376,525,...,263,291,410,412,430,276,209,162,188,99
185625,82344,2022-05-31,8,2827,모란,하차,23,122,218,469,...,173,221,252,352,451,357,192,146,109,159
185626,82345,2022-05-31,8,2828,남위례,승차,47,203,759,857,...,215,202,416,490,617,251,180,210,162,72
185627,82346,2022-05-31,8,2828,남위례,하차,23,100,234,864,...,190,228,373,485,753,703,309,285,316,283

# 주요장소 옆으로 합치기
주요장소는 이용하지 않기로 한다. 코레일만 있으므로.
('1호선', '3호선', '4호선', '분당선', '경춘선', '수인선', '경의중앙선', '경강선') 밖에 안다룸.

In [7]:
# 주요장소 = csv(path+'국가철도공단_코레일지하철 출구별 주요장소_20211008')

In [8]:
data_pl = pd.concat([data, pd.DataFrame([np.NaN], columns = ['주요장소'])], axis=1)
# 주요장소를 합치지 않을 것이므로 이것도 사용하지 않는다. 잊어도 좋음.

In [ ]:
# pd.DataFrame(주요장소.groupby(['선명','역명'])['출구별 주요시설명'].value_counts()).index
pd.DataFrame(주요장소.groupby(['선명','역명']).value_counts())
# pd.pivot_table(주요장소, values=['출구별 주요시설명'], index=['선명', '역명'])

In [ ]:
역명 = 주요장소['역명'].unique()
pl_dic = {}
for i in 역명:
    pl_dic[i] = list(주요장소[주요장소['역명'] == i]['출구별 주요시설명'])

In [11]:
# pl_dic
# pd.DataFrame(pl_dic)

## 주요장소의 역명이 서울이 아니면 필요하지 않으므로 사전에서 제거.
주요장소는 이용하지 않기로 한다. 코레일만 있으므로.
('1호선', '3호선', '4호선', '분당선', '경춘선', '수인선', '경의중앙선', '경강선') 밖에 안다룸.

In [ ]:
# '소요산' in
# data['역명'].unique()
data[data['역명']=='소요산']

In [13]:
# # pl_dic의 key가 서울의 역이 아니면 지우기
# for i in 역명:
#     if data[data['역명'] == i].shape[0] == 0:
#         del pl_dic[i] # inplace=True
#     else:
#         pass
# #         data[data['역명'] == i]

In [14]:
# len(pl_dic)
# len(서울역명)
# # '서울역' in 
# # pl_dic.keys()
# 주요장소.역명.nunique()#.info()
# list(주요장소['역명'].unique())#.sort()

In [15]:
# 서울역명 = data['역명'].unique()
# for i in 서울역명:
# #     data_pl[data_pl['역명'] == i]['주요장소'] = 
#     pl_dic[i]
#     break

In [ ]:
주요장소.선명.unique()

# 승객 유형, 노인 21, 22 옆으로 합치기

In [7]:
승객유형별21 = csv(path + '서울교통공사_1-8호선 역별 일별 시간대별 승객유형별 승하차인원_20211231')
승객유형별22 = csv(path + '서울교통공사_1_8호선 역별 일별 시간대별 승객유형별 승하차인원_20220531')

노인21 = csv(path+'서울교통공사_역별 일별 시간대별 노인 승하차인원_20211231')
노인22 = csv(path+'서울교통공사_역별 일별 시간대별 노인 승하차인원 정보_20220531')

In [ ]:
# dat21.iloc[idx7:,:-1].shape[0]
dat22.shape[0]
data.shape[0]
# data.head()
# data.columns
data.tail()

In [ ]:
승객유형별21.승객유형.unique()
승객유형별22.승객유형.nunique()

In [ ]:
# 승객유형별21.shape[0]
# + 승객유형별22.shape[0]

승객유형별21.columns #승객유형별22.columns # 둘이 같음 확인
승객유형별21.head(11)

## 노인 전처리
1. 컬럼명 일자 -> 날짜로 바꿔준다.
2. 노인22의 구분의 value를 승차, 하차로 바꿔준다.
3. 호선열이 없어서 합칠 때 문제가 발생할 수 있으므로 채워준다.

In [8]:
# 노인21.shape[0]
+ 노인22.shape[0]

노인21.columns # 노인22.columns # 둘이 같음 확인



노인21.rename(columns = {'일자':'날짜'}, inplace = True)
# 노인21.head()
노인22.rename(columns = {'일자':'날짜'}, inplace = True)
# 노인22.tail()
노인22.구분 = 노인22.구분.map({'합계 : 승차':'승차', '합계 : 하차':'하차'})

82188

Index(['연번', '일자', '역번호', '역명', '구분', '06시이전', '06시-07시', '07시-08시', '08시-09시',
       '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시', '14시-15시',
       '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시', '20시-21시',
       '21시-22시', '22시-23시', '23시이후'],
      dtype='object')

### 노인에 호선 추가

In [9]:
노인21['호선'] = np.NaN
노인22['호선'] = np.NaN
# data.sort_values(by = ['호선','역명'])
서울호선역명 = list(data[['호선','역명']].groupby('호선').value_counts().index)
# 서울호선역명
for i in 서울호선역명:
    노인21[노인21.역명 == i[1]]['호선'] = i[0]
    노인22[노인22.역명 == i[1]]['호선'] = i[0]

#

# 승객 유형별을 다 열로 넣어주려고 함.

In [11]:
# 승객유형별21
시간대 = ['06시이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시이후']

유형cols = ['날짜', '역명', '구분', '승객유형', '역번호'] + 시간대
# 유형cols[:5]
유형21= list(승객유형별21[유형cols[:5]].value_counts().index.sort_values('날짜')[0])
유형22= list(승객유형별22[유형cols[:5]].value_counts().index.sort_values('날짜')[0])

승객유형별21[(승객유형별21['날짜'] == 유형21[0][0]) & (승객유형별21['역번호'] == 유형21[0][4]) & (승객유형별21['구분'] == 유형21[0][2]) & (승객유형별21['승객유형'] == 유형21[0][3])]

# 승객유형별21[['날짜', '역명', '구분', '승객유형']].groupby('승객유형').value_counts().index.sort_values('날짜')

,연번,날짜,호선,역번호,역명,구분,승객유형,06시이전,06시-07시,07시-08시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시이후
1071,1072,2021-07-01,3,340,가락시장,승차,어린이,0,0,0,...,2,1,1,4,2,0,0,0,1,0

In [ ]:
# ['날짜', '역명', '구분', '승객유형'] 갖고만 unique 뽑아야함. ==> 역명 아니고 역번호여야
list(승객유형별21[['역명','날짜','구분', '승객유형']].value_counts().index.sort_values('날짜')[0])[:20]

In [ ]:
유형cols

In [94]:
# 7월 1일 가락시장 승차 어린이가 2개인 이유 (다른 것도 마찬가지)
# pd.DataFrame(승객유형별21.groupby(유형cols).value_counts())[:20]

In [ ]:
list(승객유형별21[유형cols].value_counts().index.sort_values('날짜')[0])[:20]

In [24]:
# 유형21[:5]

In [25]:
# data['승객유형'] = np.nan
# for i in 유형21:
#     data[(data.날짜 == i[0]) & (data.역명 == i[1]) & (data.구분 == i[2])]['승객유형'] = i[3]

## new_cols
data의 new_columns임.

In [12]:
# eval('data')
시간대 = ['06시이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시이후']
new_cols = []
for i in 승객유형별21['승객유형'].unique():
    for j in 시간대:
        new_cols.append(f'{i}_{j}')

In [27]:
len(new_cols)

209

In [13]:
# data의 컬럼명 바꾸기
data.rename(columns = {i:f'승객구분x_{i}' for i in 시간대}, inplace = True)

In [14]:
for i in new_cols:
    data[i] = np.nan

In [30]:
data.shape
# data

(185628, 234)

In [16]:
dat21.역번호.nunique()
dat22.역번호.nunique()

284

275

### open 쓰기 위해 중간저장

In [10]:
data = data.sort_values(by = ['날짜', '역명']).reset_index(drop=True)

In [11]:
data.head()

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후
0,101273,2021-07-01,3,340,가락시장,승차,86,292,831,864,...,408,445,587,760,1197,466,333,339,279,45
1,101274,2021-07-01,3,340,가락시장,하차,25,223,552,1300,...,402,498,478,629,893,679,419,367,380,160
2,101633,2021-07-01,8,2818,가락시장,승차,107,231,452,492,...,399,497,466,705,1124,419,371,425,395,76
3,101634,2021-07-01,8,2818,가락시장,하차,98,250,629,1623,...,373,366,438,472,700,474,332,269,240,182
4,101591,2021-07-01,7,2748,가산디지털단지,승차,272,383,934,1023,...,1368,1659,2440,7803,14836,5787,3141,2788,1647,304

In [13]:
data.shape

(185628, 25)

In [12]:
# data.to_csv('data 시간대별 승하차 승객 수 (날짜 역명으로 정렬).csv', index = False)

# 아래는 하지 않는다.

## data의 각 new 컬럼에 유형별 인원 정보 삽입

In [42]:
# data = pd.read_csv('data승객구분채우기전.csv')

In [38]:
colnms.index(f'{wh[3]}_{j}')
wh[k+4]

133

0

In [104]:
# 설마 data총 길이만큼..?
f = open('data승객구분채우기전.csv', 'r')
lines = f.readlines()
for i, line in tqdm(enumerate(lines)):
    line = line.strip().split(',')
    if i == 0:
#         pass
#         print(line)
        colnms = line.copy()
        day = line.index('날짜')
#         st = line.index('역명') # station
        st = line.index('역번호') # station_id
        to = line.index('구분') # take off or not
    else:
        for wh in 유형21: # who
            for k,j in enumerate(시간대):
                if (line[day] == wh[0]) & (line[st] == wh[4]) & (line[to] == wh[2]):
#                     wh[0], wh[1], wh[2], wh[3]
                    line[colnms.index(f'{wh[3]}_{j}')] = wh[k + 5]
                    wh[k + 4]
#             print('###########!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~#############')

5it [00:09,  1.87s/it]

KeyboardInterrupt:

In [106]:
유형21[0:4]

[('2021-07-01', '가락시장', '승차', '어린이', 340),
 ('2021-07-01', '가락시장', '승차', '어린이', 2818),
 ('2021-07-01', '가락시장', '승차', '영어 일반', 2818),
 ('2021-07-01', '가락시장', '승차', '우대권', 340)]

In [108]:
lines[1]

'101273,2021-07-01,3,340,가락시장,승차,86,292,831,864,579,431,399,417,420,408,445,587,760,1197,466,333,339,279,45,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,\n'

In [49]:
for i, line in tqdm(enumerate(lines)):
    line = line.strip().split(',')
    if i == 0:
        line[colnms.index(f'{유형21[0][3]}_{j}')]
#         print(line)
        pass
    else:
        f'{유형21[0][3]}_22시-23시'
        line[colnms.index(f'{유형21[0][3]}_{j}')]
#         print()
        break

0it [00:00, ?it/s]

'어린이_06시-07시'

'어린이_22시-23시'

''

1it [00:00, 117.13it/s]

In [ ]:
for i in tqdm(유형21):
    for k,j in enumerate(시간대):
        data[(data.날짜 == i[0]) & (data.역명 == i[1]) & (data.구분 == i[2])][f'{i[3]}_{j}'] = i[k + 4] # 4번째부터 차례대로
#         print('#----------------------------------------------')